[Basic Data Exploration](#basic-explor)

[Bivariate analysis](#bivar)

## Course Structure

1. Module 0 - Native Data Types in Python
2. Module 1 - Intro to Pandas library & Basis Dataframe attributes
3. Module 2 - Common Data manipulation tasks using Pandas
4. Module 3 - Loops and Functions 
5. Module 4 - Visualization
6. Module 5 - Other miscellaneous topics

# Basic data types

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
list=[1,3,4]
list[2]

4

In [4]:
x = [1,"b",3]
x

[1, 'b', 3]

My Lord

In [5]:
x[1]

'b'

In [7]:
pip install pandas

Requirement already satisfied: pandas in c:\users\rohan\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\rohan\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\rohan\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\rohan\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: six>=1.5 in c:\users\rohan\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
student_dict = {"s_1":["IBM","TCS"],"s_2" :["HP"], "s_3":["INFOSYS","WIPRO"]}

In [9]:
[val for k,val in student_dict.items()]

[['IBM', 'TCS'], ['HP'], ['INFOSYS', 'WIPRO']]

In [10]:
x = ["abe",1,"c"]

In [11]:
dist_ex = {"S1":["HCL","TCS"],"S2":["Benz"]}

In [12]:
for k,v in dist_ex.items():
    if k == "S1":
        print(k)

S1

In [13]:
x.append("h")

In [14]:
x

['abe', 1, 'c', 'h']

In [ ]:
tup_ex = (1,2,3,1)

In [ ]:
!pip install pandas

In [ ]:
list_ex = [1,2,3]
dist_ex = {"Age":25,"Weight":70}

tup_ex = (1,2,3,1)

In [ ]:
from pandas import read_csv

In [ ]:
# read the data
import pandas as pd
import numpy as np
df = pd.read_csv("Uber Drives 2016.csv")

In [ ]:
df = pd.read_csv("Uber Drives 2016.csv")

# Key Modules

1. Basic Dataframe operations
2. Common data manipulation tasks
3. Loops and Functions

## Basic dataframe operations

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
hasattr(df,"head")
callable(getattr(df,"head"))

In [ ]:
df.tail()

In [ ]:
df.dtypes

### Changing data types

In [ ]:
temp = pd.DataFrame({"A":["1","2","3"],"B":[11,12,13],"C": ["12-06-2012","13-06-2015","15-06-2017"]})

In [ ]:
temp.dtypes

In [ ]:
temp["C"] = pd.to_datetime(temp["C"])

In [ ]:
temp["A"] = pd.to_numeric(temp["A"])

In [ ]:
temp.dtypes

In [ ]:

temp["A"] = temp["A"].astype(str)

In [ ]:
temp.dtypes

In [ ]:
# convert data to datetime format
pd.to_datetime(df["START_DATE*"],format='%m/%d/%Y %H:%M')
# Available time formats: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

### Dataset summarization methods

In [ ]:
df.describe(include="all")

In [ ]:
df.info()

In [ ]:
# count of unique start locations
df["START*"].value_counts().head()

## Common data manipulation tasks

5 verbs of data manipulation

1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/ Conditionally adding columns
5. Groupby/Summarize

### Select/Indexing

In [ ]:
df.iloc[0:4,[0,3]]

In [ ]:
## Positional Indexing
df.iloc[0:4,[0,1]]

In [ ]:
df.iloc[0:4,0:3]

In [ ]:
# label based indexing
df.loc[:,["START_DATE*","CATEGORY*"]].head()

### In Class assignment

Extract first 5 rows and columns START_DATE* and MILES*

### Filtering

In [ ]:
df2 = df.loc[df["MILES*"] > 10,["MILES*"]]

In [ ]:
df3 = df2.loc[0:3]

In [7]:
# find out all rides greater than 10 miles
df.loc[df["MILES*"] > 10].head()

NameError: name 'df' is not defined

In [ ]:
# Find out all rides to Cary
df.loc[df["START*"]=="Cary",["MILES*"]].head()

In [ ]:
# Find out all rides to Cary & Morrisville          
df[df["START*"].isin(["Cary","Morrisville"])].shape

In [ ]:
# Find out all rides to Cary & Morrisville          
df.loc[df["START*"].isin(["Cary","Morrisville"])].shape

In [ ]:
df.loc[~df["START*"].isin(["Cary","Morrisville"])].shape

#### In class assignment

1. Find all trips with distance > 10 miles and originating from Cary and Morris.

2. Extract top 3 rows from the filtered dataset

### Sorting

In [ ]:
df.sort_values(by=["MILES*"],ascending=False).head(5)

In [ ]:
df.sort_values(by=["START*", "MILES*"],ascending=[True,False]).head(5)

### Conditionally adding columns

In [ ]:
import numpy as np
df["miles_cat"] = np.where(df["MILES*"] > 5,"Long Trip","Short Trip")

In [ ]:
df.head()

In [ ]:
df["miles_cat"].value_counts()

In [ ]:
df.loc[df["MILES*"] > 5].shape

## In class Assignment

Create a new column with the following condition:

a) > 10 - Long Trip

b) 5 - 10  - Medium

c) < 5 - Short Trip

### Groupby Summarize

In [ ]:
# for each start loc find the mean distance travelled
df.groupby("START*")["MILES*"].agg("mean").head()

In [ ]:
# for each start loc find the mean & the total dist travelled
df.groupby("START*").agg(["mean","sum"]).head()

### In class assignment

Find most recent & the earliest travelled date and mean distance traveled for each start city

## Loops and Function

In [ ]:
# Basic for loop
res = []
temp = [1,2,3,4]
for i in temp:
    res.append(i*i)
res

In [ ]:
# List comprehension way

[x*x for x in temp]

In [ ]:
store_sales = pd.read_csv("store_sales.csv")

In [ ]:
store_sales.head()

In [ ]:
# find out avg sales for each month
# find out avg sales for each store

In [ ]:
def bonus_func(sales_numbers):
    return ["Eligible" if x > 15 else "Not Eligible" for x in sales_numbers]

In [ ]:
bonus_func([12,23,56])

In [ ]:
store_sales.iloc[:,2:].apply(bonus_func).head()

In [ ]:
store_sales.iloc[:,2:].apply(lambda sales_numbers: ["Eligible" if x > 15 else "Not Eligible" for x in sales_numbers]).head()

In [ ]:
store_sales.columns

In [ ]:
store_sales.groupby("city").agg("mean")

### Assignments

1) Find mean quarterly sales by store

2) Find the month with highest sales for each store

## Other/Miscellaneous topics

### Missing value treatment

In [ ]:
df.isnull().sum()

In [ ]:
## Count missing values
df.isnull().sum()

In [ ]:
# Fill NA with most common values
df["PURPOSE*"].value_counts()

In [ ]:
df = df.fillna({"PURPOSE*":"Meeting"})

In [ ]:
df["PURPOSE*"].value_counts()

### Matrix operations use case

### Example 1 - compute month on month growth in sales

In [ ]:
store_sales.head()

In [ ]:
sales_mat = np.array(store_sales.iloc[:,2:])

In [ ]:
sales_mat

In [ ]:
sales_mat_lag = sales_mat[:,1:]
sales_mat_lag

In [ ]:
sales_mat_lag = sales_mat[:,1:]
sales_mat_lag = np.c_[sales_mat_lag,np.zeros(100)]

In [ ]:
sales_diff = sales_mat_lag - sales_mat

In [ ]:
perct_change = pd.DataFrame(sales_diff/sales_mat)

In [ ]:
perct_change.head()

### Example 1 - compute net revenue

In [1]:
profit_mat = np.random.uniform(low=0.05, high=0.25, size=(100,12))

NameError: name 'np' is not defined

In [ ]:
## Find total annual profit for each store
profit_mat = profit_mat.transpose()

In [ ]:
profit_mat.shape

In [ ]:
prof_matrix = np.dot(sales_mat,profit_mat)

In [ ]:
prof_matrix.shape